﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Enlink - Admin Dashboard Template</title>

    <!-- Favicon -->
	<link rel="shortcut icon" href="~/adm
    <!-- page css -->
    <link href="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- NTH -->
    <style>
        /* CSS để chỉnh màu chữ và kích thước chữ */
        .custom-productName {
            color: black;
            font-size: 14px;
        }

            /* CSS để chỉnh màu chữ khi hover */
            .custom-productName:hover {
                color: blue;
            }

        textarea {
            overflow-y: hidden;
            overflow-x: hidden;
            height: auto;
        }

    </style>

    <!-- Core css -->
    <link href="~/adminassets/css/app.min.css" rel="stylesheet">
    <link href="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            @await Html.PartialAsync("Header.cshtml");
            <!-- Header END -->
            <!-- Side Nav START -->
            @await Html.PartialAsync("_SideNavPartialView.cshtml");
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container">

                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                @await Html.PartialAsync("Footer.cshtml");
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->
            <!-- Quick View START -->
            <!-- Quick View END -->
        </div>
    </div>

    <script src="~/admin~/adminassets/js/vendors.min.js"></script>
    <!-- Core Vendors JS -->
    <script src="~/adminassets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/adminassets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/adminassets/js/pages/dashboard-e-commerce.js"></script>

    <!-- Core JS -->
    <script src="~/adminassets/js/app.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts",required:false) 
    @await RenderSectionAsync("Paginate",required: false)
    @await RenderSectionAsync("upload", required: false)
    @await RenderSectionAsync("ScriptsCT", required: false)
    @RenderSection("Users", required:false);
</body>

</html>