﻿@model IEnumerable<Market.Models.Category>

    <div class="col-sm-12 col-md-12 col-lg-12 table-responsive">
        <table class="table table-hover e-commerce-table ">
            <thead>
                <tr class="text-center">
                    <th class="text-nowrap">Mã danh mục</th>
                    <th class="text-nowrap">Tên danh mục</th>
                    <th class="text-nowrap">Trạng thái</th>
                    <th class="text-nowrap">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @item.CategoryId
                        </td>
                        <td>
                            @item.CategoryName
                        </td>
                        <td>
                            @*  @item.StatusString *@
                            @if (item.Status == 1)
                            {
                                <div>
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <span>Đang kinh doanh</span>
                                </div>
                            }
                            else if (item.Status == 2)
                            {
                                <div>
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <span>Ngừng kinh doanh</span>
                                </div>
                            }
                        </td>

                        <td>
                            <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CategoryId"><i class="anticon anticon-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @* Thanh nav-phân trang *@
    <ul class="pagination m-l-20 m-t-5">
        @for (int i = 1; i <= ViewBag.pageNum; i++)
        {
            <li class="page-item active" page="@i"
            @(ViewBag.s != null ? " s='@ViewBag.s'" : "")
            @(ViewBag.keyword != null ? " keyword='@ViewBag.keyword'" : "") >
                <a class="page-link" style="border-radius: 5px;">@i</a>
            </li>
        }
    </ul>
